.myNavBar{
    padding: 2px 1rem!important;
   
    .navbar-brand{
        font-size: 1.25rem;
    }
    li {
        width: 135px;
        height: 50px;
        transition: background-position-x 0.9s linear;
        text-align: center;
      
        a {
          font-size: 22px;
          color: #777;
          text-decoration: none;
          transition: all 0.45s;
        }
      
        &:hover {
          animation: line 1s;
        }
      
        &:hover a {
          color: #d94f5c;
        }
      
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      
      @keyframes line {
        0% {
          background-position-x: 390px;
        }
      }
      
}
.logo{
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}
