.landing {
    height: 100vh;
    position: relative;
    .landing-content{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1000;
        color: white;
        .jobSearching{
            z-index: 1100;
            text-align: center;
            h1{
                font-size: $title-font-size;
            }
            p{
                font-size: $small-title-font-size;
            }
        }
        input{
            outline: none;
            box-shadow: unset;
        }
    }
}