.myLogIn{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media screen and (max-width: $width-small) {
        width: 300px;
      }
      @media screen and (min-width: $width-small) {
        width: 30%;

      }
    >div{
        >div{
            width: 100%;
        }
    }
}