
  
  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 100px;
    /*make sure to use same height/width as in the html*/
    height: 35px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s all;
    .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: $primary-color;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -140;
        transition: 1s all ease;
      }
      .btnText {
        margin-top: -32px;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
            font-size: 1rem;

          }
      }
      
      &:hover {
        
        .shape{
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: #06D6A0;
      }
    }
  }

  .appButtonGroup{
    margin-left: 20px;
  }

  
  
  
  
