.mySearchInput{
    .myChipInput{
        width: 90%;
        .ChipInput-inputRoot-92{

           width: 100%!important;
            input{
                width: 100% !important;
            }
        }
    }
    margin-bottom: 25px;
}
