.mySearchInput{
    .myChipInput{
        width: 90%;
        .ChipInput-inputRoot-92{

           width: 100%!important;
            input{
                width: 100% !important;
            }
        }
    }
    .divBtn{
        margin-top: 10px;
        text-align: center;
        button{
            background-color: $primary-color;
            color: white;
        }
    }
    margin-bottom: 25px;
}
